<%- include('../include/header') %>

    <div class="container mt-4 text-right" dir="rtl">
        <h1>دەستکاری کارمەند</h1>
        <form action="/employees/<%= employee.id %>/update?_method=PATCH" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">ناو:</label>
                    <input type="text" id="name" name="name" value="<%= employee.name %>" class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="salary">موچە:</label>
                    <input type="number" id="salary" name="salary" value="<%= employee.salary %>" class="form-control"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="phoneNumber">ژمارەی مۆبایل:</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" value="<%= employee.phoneNumber %>"
                        class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="address">ناونیشان:</label>
                    <input type="text" id="address" name="address" value="<%= employee.address %>" class="form-control"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="jobType">جۆری کار:</label>
                    <select id="jobType" name="jobType" class="form-control">
                        <option value="employee" <%=employee.jobType==='employee' ? 'selected' : '' %>>کارمەند</option>
                        <option value="manager" <%=employee.jobType==='manager' ? 'selected' : '' %>>بەڕێوەبەر</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">وشەی نهێنی:</label>
                    <input type="password" id="password" name="password" value="<%= employee.password %>"
                        class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="note">تێبینی:</label>
                    <input type="text" id="note" name="note" value="<%= employee.note %>" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="status">دۆخ:</label>
                    <select id="status" name="status" class="form-control">
                        <option value="active" <%=employee.status==='active' ? 'selected' : '' %>>چالاک</option>
                        <option value="inactive" <%=employee.status==='inactive' ? 'selected' : '' %>>ناچالاک</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="sectionId">بەش:</label>
                    <select id="sectionId" name="sectionId" class="form-control">
                        <% sections.forEach(section=> { %>
                            <option value="<%= section.id %>" <%=section.id===employee.sectionId ? 'selected' : '' %>>
                                <%= section.name %>
                            </option>
                            <% }) %>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"
                style="background-color: #ab15d4; border: 0px solid;">نوێکردنەوە</button>
            <a href="/employees" class="btn btn-secondary">گەڕانەوە بۆ لیست</a>
        </form>
    </div>

    <%- include('../include/footer') %>