<%- include('../include/header') %>
<h1>Employee Details</h1>
<p>Name: <%= employee.name %>
</p>
<p>Salary: <%= employee.salary %>
</p>
<p>Phone Number: <%= employee.phoneNumber %>
</p>
<p>Address: <%= employee.address %>
</p>
<p>Job Type: <%= employee.jobType %>
</p>
<p>Note: <%= employee.note %>
</p>
<p>Status: <%= employee.status %>
</p>
<p>Section: <%= employee.Section.name %>
</p>
<p>Created At: <%= employee.createdAt %>
</p>
<p>Updated At: <%= employee.updatedAt %>
</p>
<a href="/employees/<%= employee.id %>/edit">Edit</a>
<a href="/employees">Back to List</a>

<%- include('../include/footer') %> 