<%- include('../include/header') %>

    <div class="container mt-4">
        <h1>Employee Details</h1>
        <div class="card">
            <div class="card-body">
                <p><strong>Name:</strong>
                    <%= employee.name %>
                </p>
                <p><strong>Salary:</strong>
                    <%= employee.salary %>
                </p>
                <p><strong>Phone Number:</strong>
                    <%= employee.phoneNumber %>
                </p>
                <p><strong>Address:</strong>
                    <%= employee.address %>
                </p>
                <p><strong>Job Type:</strong>
                    <%= employee.jobType %>
                </p>
                <p><strong>Note:</strong>
                    <%= employee.note %>
                </p>
                <p><strong>Status:</strong>
                    <%= employee.status %>
                </p>
                <p><strong>Section:</strong>
                    <%= employee.Section.name %>
                </p>
                <p><strong>Created At:</strong>
                    <%= employee.createdAt %>
                </p>
                <p><strong>Updated At:</strong>
                    <%= employee.updatedAt %>
                </p>
            </div>
            <div class="card-footer">
                <a href="/employees/<%= employee.id %>/edit" class="btn btn-primary">Edit</a>
                <a href="/employees" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>

    <%- include('../include/footer') %>