<%- include('../include/header') %>

    <div class="container mt-4 text-right" dir="rtl">
        <h1>وردەکاری دەربارەی کارمەند</h1>
        <div class="card">
            <div class="card-body">
                <p class="text-right">
                    <strong>ژمارەی ID کارمەند: </strong>
                    <%= employee.id %>
                </p>
                <p><strong>ناو:</strong>
                    <%= employee.name %>
                </p>
                <p><strong>موچە:</strong>
                    <%= employee.salary %>
                </p>
                <p><strong>ژمارەی مۆبایل:</strong>
                    <%= employee.phoneNumber %>
                </p>
                <p><strong>ناونیشان:</strong>
                    <%= employee.address %>
                </p>
                <p><strong>جۆری کار:</strong>
                    <%= employee.jobType %>
                </p>
                <p><strong>تێبینی:</strong>
                    <%= employee.note %>
                </p>
                <p><strong>دۆخ:</strong>
                    <%= employee.status %>
                </p>
                <p><strong>بەش:</strong>
                    <%= employee.Section.name %>
                </p>
                <p><strong>دروستکراوی:</strong>
                    <%= employee.createdAt %>
                </p>
                <p><strong>نوێکرایەوە:</strong>
                    <%= employee.updatedAt %>
                </p>
            </div>
            <div class="card-footer">
                <a href="/employees/<%= employee.id %>/edit" class="btn btn-primary">دەستکاری</a>
                <a href="/employees" class="btn btn-secondary">گەڕانەوە بۆ لیست</a>
            </div>
        </div>
    </div>

    <%- include('../include/footer') %>