<%- include('../include/header') %>

    <div class="container mt-4 text-right" dir="rtl">
        <h1>دەستکاریکردنی شۆفێر</h1>
        <form action="/drivers/<%= driver.id %>/update?_method=PATCH" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">ناو:</label>
                    <input type="text" id="name" name="name" value="<%= driver.name %>" class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="phoneNumber">ژمارەی مۆبایل:</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" value="<%= driver.phoneNumber %>"
                        class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="vehicleType">جۆری پێڕەو:</label>
                    <select id="vehicleType" name="vehicleType" class="form-control">
                        <option value="motor" <%=driver.vehicleType==='motor' ? 'selected' : '' %>>ماتۆڕ</option>
                        <option value="car" <%=driver.vehicleType==='car' ? 'selected' : '' %>>ئۆتۆمبێل</option>
                        <option value="truck" <%=driver.vehicleType==='truck' ? 'selected' : '' %>>بارهەڵگر</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="vehicleId">ژمارەی پێڕەو:</label>
                    <input type="text" id="vehicleId" name="vehicleId" value="<%= driver.vehicleId %>"
                        class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cityId">شار:</label>
                    <select id="cityId" name="cityId" class="form-control">
                        <% cities.forEach(city=> { %>
                            <option value="<%= city.id %>" <%=city.id===driver.cityId ? 'selected' : '' %>>
                                <%= city.name %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">وشەی تێپەڕ:</label>
                    <input type="password" id="password" name="password" value="<%= driver.password %>"
                        class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="status">دۆخ:</label>
                    <select id="status" name="status" class="form-control">
                        <option value="active" <%=driver.status==='active' ? 'selected' : '' %>>چالاک</option>
                        <option value="inactive" <%=driver.status==='inactive' ? 'selected' : '' %>>ناچالاک</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="address">ناونیشان:</label>
                    <input type="text" id="address" name="address" value="<%= driver.address %>" class="form-control"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="price">نرخ:</label>
                    <input type="number" id="price" name="price" value="<%= driver.price %>" class="form-control"
                        required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"
                style="background-color: #ab15d4; border: 0px solid;">نوێکردنەوە</button>
            <a href="/drivers" class=" btn btn-secondary">گەڕانەوە بۆ لیستەکە</a>
        </form>
    </div>

    <%- include('../include/footer') %>