<%- include('../include/header') %>

    <div class="container mt-4">
        <h1>وردەکاری دەربارەی شۆفێرەکە</h1>
        <div class="card">
            <div class="card-body">
                <p class="text-right">
                    <strong>ژمارەی ID شۆفێر: </strong>
                    <%= driver.id %>
                </p>
                <p><strong>ناو:</strong>
                    <%= driver.name %>
                </p>
                <p><strong>ژمارەی مۆبایل:</strong>
                    <%= driver.phoneNumber %>
                </p>
                <p><strong>جۆری پێڕەو:</strong>
                    <%= driver.vehicleType %>
                </p>
                <p><strong>ژمارە پێڕەو:</strong>
                    <%= driver.vehicleId %>
                </p>
                <p><strong>شار:</strong>
                    <%= driver.City.name %>
                </p>
                <p><strong>ناونیشان</strong>
                    <%= driver.address %>
                </p>
                <p><strong>نرخ:</strong>
                    <%= driver.price %>
                </p>
                <p><strong>دۆخ:</strong>
                    <%= driver.status %>
                </p>
                <p><strong>دروستکراوە لە:</strong>
                    <%= driver.createdAt %>
                </p>
                <p><strong>نوێکرایەوە لە:</strong>
                    <%= driver.updatedAt %>
                </p>
            </div>
            <div class="card-footer">
                <a href="/drivers/<%= driver.id %>/edit" class="btn btn-primary">Edit</a>
                <a href="/drivers" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
    <%- include('../include/footer') %>