<%- include('../include/header') %>

    <div class="container mt-4">
        <h1>Driver Details</h1>
        <div class="card">
            <div class="card-body">
                <p><strong>Name:</strong>
                    <%= driver.name %>
                </p>
                <p><strong>Phone Number:</strong>
                    <%= driver.phoneNumber %>
                </p>
                <p><strong>Vehicle Type:</strong>
                    <%= driver.vehicleType %>
                </p>
                <p><strong>Vehicle ID:</strong>
                    <%= driver.vehicleId %>
                </p>
                <p><strong>City:</strong>
                    <%= driver.City.name %>
                </p>
                <p><strong>Address:</strong>
                    <%= driver.address %>
                </p>
                <p><strong>Price:</strong>
                    <%= driver.price %>
                </p>
                <p><strong>Status:</strong>
                    <%= driver.status %>
                </p>
                <p><strong>Created At:</strong>
                    <%= driver.createdAt %>
                </p>
                <p><strong>Updated At:</strong>
                    <%= driver.updatedAt %>
                </p>
            </div>
            <div class="card-footer">
                <a href="/drivers/<%= driver.id %>/edit" class="btn btn-primary">Edit</a>
                <a href="/drivers" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
    <%- include('../include/footer') %>