<%- include('../include/header') %>

    <nav class="navbar bg-body-tertiary container mt-4 text-right" style="border-radius: 1rem;" dir="rtl">
        <div class="container-fluid">
            <div class="row align-items-center" style="width: 100%;">
                <div class="col-auto" style="padding: 0; margin: 0; width:70%;">
                    <form id="searchForm" class="input-group" style="padding: 0rem; width:100%;" action="/sections"
                        method="get">
                        <input type="text" class="form-control" placeholder="گەڕان" aria-label="Search" name="findKey"
                            id="searchInput" aria-describedby="basic-addon1" style="padding: 0rem 1rem; margin: 0rem;"
                            autocomplete="off" value="<%= findKey %>">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-search"></i>
                        </span>
                    </form>
                </div>
                <div class="col-auto">
                    <a href="/sections/create" class="btn btn-primary"
                        style="text-wrap: nowrap; background-color: #ab15d4; border: 0px solid;">
                        <i class="fas fa-plus"></i>
                        زیادکردن لقی نوێ
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="card container mt-4 text-right" style="padding-top: 1rem;" dir="rtl">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text-center" colspan="7">هەموو لقەکان</th>
                </tr>
                <tr class="text-center">
                    <th style="width: 1%;">ID</th>
                    <th>ناوی لق</th>
                    <th style="width: 40%;">تێبینی</th>
                    <th style="width: 10%; white-space: nowrap;">دۆخ</th>
                    <th style="width: 1%; white-space: nowrap;">دەستکاری</th>
                    <th style="width: 1%; white-space: nowrap;">وردەکاری</th>
                    <th style="width: 1%; white-space: nowrap;">سڕینەوە</th>
                </tr>
            </thead>
            <tbody>
                <% sections.forEach(section=> { %>
                    <tr>
                        <td class="text-center">
                            <%= section.id %>
                        </td>
                        <td><strong>
                                <%= section.name %>
                            </strong></td>
                        <td>
                            <%= section.note %>
                        </td>
                        <td class="text-center">
                            <form action="/sections/<%= section.id %>/update?_method=PATCH" method="post" class="d-inline">
                                <!-- <input type="hidden" name="_method" value="PATCH"> -->
                                <input type="hidden" name="status"
                                    value="<%= section.status === 'active' ? 'inactive' : 'active' %>">
                                <button type="submit"
                                    class="btn <%= section.status === 'active' ? 'btn-primary' : 'btn-secondary' %>">
                                    <%= section.status==='active' ? 'چالاک' : 'ناچالاک' %>
                                </button>
                            </form>

                        </td>
                        <td><a href="/sections/<%= section.id %>/edit" class="btn btn btn-success">دەستکاری</a></td>
                        <td><a href="/sections/<%= section.id %>/show" class="btn btn-info">وردەکاری</a></td>
                        <td>
                            <form action="/sections/<%= section.id %>/delete?_method=DELETE" method="post" class="d-inline">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger">سڕینەوە</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <%- include('../include/footer') %>