<%- include('../include/header') %>

    <div class="container mt-4 text-right" dir="rtl">
        <div class="row mb-3">
            <div class="col">
                <h1>هەموو لقەکان</h1>
            </div>
            <div class="col-auto">
                <a href="/sections/create" class="btn btn-primary">زیادکردن لقی نوێ</a>
            </div>
        </div>

        <div class="card">
            <ul class="list-group list-group-flush">
                <% sections.forEach(section=> { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <strong>
                                <%= section.name %>
                            </strong> - <%= section.note %>
                        </div>
                        <div class="d-flex">
                            <form action="/sections/<%= section.id %>/update" method="post">
                                <input type="hidden" name="status"
                                    value="<%= section.status === 'active' ? 'inactive' : 'active' %>">
                                <button type="submit"
                                    class="badge <%= section.status === 'active' ? 'bg-success' : 'bg-danger' %>">
                                    <%= section.status==='active' ? 'چالاک' : 'ناچالاک' %>
                                </button>
                            </form>
                            <a href="/sections/<%= section.id %>/edit" class="btn btn-sm btn-outline-secondary ms-2"
                                style="margin:0 1rem;">دەستکاری</a>
                        </div>
                    </li>
                    <% }) %>
            </ul>
        </div>
    </div>

    <%- include('../include/footer') %>