<%- include('../include/header') %>

    <div class="container mt-4 text-right" dir="rtl">
        <h1>وردەکاری دەربارەی لەق</h1>
        <div class="card">
            <div class="card-body">
                <p class="text-right">
                    <strong>ژمارەی ID لقەکە: </strong>
                    <%= section.id %>
                </p>
                <p><strong>ناو:</strong>
                    <%= section.name %>
                </p>
                <p><strong>تێبینی:</strong>
                    <%= section.note %>
                </p>
                <p><strong>دۆخ:</strong>
                    <%= section.status==='active' ? 'چالاک' : 'ناچالاک' %>
                </p>
                <p><strong>دروستکراوی:</strong>
                    <%= section.createdAt %>
                </p>
                <p><strong>نوێکرایەوە:</strong>
                    <%= section.updatedAt %>
                </p>
            </div>
            <div class="card-footer">
                <a href="/sections/<%= section.id %>/edit" class="btn btn-primary">دەستکاری</a>
                <a href="/sections" class="btn btn-secondary">گەڕانەوە بۆ لیست</a>
            </div>
        </div>
    </div>

    <%- include('../include/footer') %>