<%- include('../include/header') %>

    <div class="container mt-4">
        <h1>وردەکاری دەربارەی شارۆچەکە</h1>
        <div class="card">
            <div class="card-body">
                                <p class="text-right">
                                    <strong>ژمارەی ID شارۆچکە: </strong>
                                    <%= village.id %>
                                </p>
                <p><strong>ناو:</strong>
                    <%= village.name %>
                </p>
                <p><strong>حالەت:</strong>
                    <%= village.status %>
                </p>
                <p><strong>نرخ:</strong>
                    <%= village.price %>
                </p>
                <p><strong>شار:</strong>
                    <%= village.City.name %>
                </p>
                <p><strong>دروستکراوە لە:</strong>
                    <%= village.createdAt %>
                </p>
                <p><strong>دوایین گۆرانی:</strong>
                    <%= village.updatedAt %>
                </p>
            </div>
            <div class="card-footer">
                <a href="/villages/<%= village.id %>/edit" class="btn btn-primary">دەستکاری</a>
                <a href="/villages" class="btn btn-secondary">گەڕانەوە بۆ لیست</a>
            </div>
        </div>
    </div>

    <%- include('../include/footer') %>