<%- include('../include/header') %>

    <div class="container mt-4">
        <h1 class="text-end">دەستکاری کردنی شار</h1>
        <form action="/cities/<%= city.id %>/update" method="POST">
            <div class="form-group">
                <label for="name" class="text-end">ناو:</label>
                <input type="text" id="name" name="name" value="<%= city.name %>" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="status" class="text-end">بارودەکان:</label>
                <select id="status" name="status" class="form-control">
                    <option value="active" <%=city.status==='active' ? 'selected' : '' %>>چالاک</option>
                    <option value="inactive" <%=city.status==='inactive' ? 'selected' : '' %>>ناچالاک</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price" class="text-end">نرخ:</label>
                <input type="number" id="price" name="price" value="<%= city.price %>" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">نوێکردنەوە</button>
        </form>
        <a href="/cities" class="mt-2 btn btn-secondary">بگەڕێوە بۆ لیست</a>
    </div>

    <%- include('../include/footer') %>