<%- include('../include/header') %>

    <div class="container mt-4 text-right">
        <h1>وردەکاری دەربارەی شارەکە</h1>
        <div class="card">
            <div class="card-body">
                <p class="text-right">
                    <strong>ژمارەی ID شارەکە: </strong>
                    <%= city.id %>
                </p>
                <p><strong>ناو:</strong>
                    <%= city.name %>
                </p>
                <p><strong>دۆخ:</strong>
                    <%= city.status==='active' ? 'چالاک' : 'ناچالاک' %>
                </p>
                <p><strong>نرخ:</strong>
                    <%= city.price %>
                </p>
                <p><strong>دروستکراوە لە:</strong>
                    <%= city.createdAt %>
                </p>
                <p><strong>نوێکراوە لە:</strong>
                    <%= city.updatedAt %>
                </p>
            </div>
            <div class="card-footer">
                <a href="/cities/<%= city.id %>/edit" class="btn btn-primary">دەستکاری</a>
                <a href="/cities" class="btn btn-secondary">بگەڕێوە بۆ لیست</a>
            </div>
        </div>
    </div>

    <%- include('../include/footer') %>